.block {
  margin: 0;
  padding: 0;
  background-color: rgba(48, 48, 48, 1);
  border-radius: 10px;
  width: 90px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}