.moviesCard {
  display: flex;
  margin: 0;
  padding: 0;
  width: min(100%, 270px);
  height: min(100vh, 218px);
  border-radius: 10px;
  list-style: none;
  flex-direction: column;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(34, 34, 34, 1);
  justify-content: space-between;
  position: relative;
  border: none;
}

.moviesCard__image {
  margin: 0;
  padding: 0;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  background-origin: content-box;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: content-box;
  z-index: 0;
  border: none;
}

.moviesCard__bottom {
  margin: 0;
  padding: 14px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moviesCard__info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.moviesCard__title {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.moviesCard__time {
  margin: 0;
  padding: 0;
  color: rgba(139, 139, 139, 1);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.moviesCard__tochka {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 17px;
  max-height: 16px;
}

.moviesCard__tochka:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .moviesCard {
    width: min(100%, 339px);
    height: min(100vh, 257px);
  }
}

@media screen and (max-width: 420px) {
  .moviesCard {
    width: min(100%, 300px);
    height: min(100vh, 235px);
  }
}