.movies {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.border {
  margin: 0;
  padding: 13px 0 0;
  border: none;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
}