.container {
  margin: 0;
  padding: 0 5.46875vw;
  display: flex;
  column-gap: 30px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.fonts {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.333%;
}

.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #FFF;
}

.link:hover {
  cursor: pointer;
  opacity: 0.7;
}

.button {
  margin: 0;
  padding: 7px 17px;
  max-width: 129px;
  max-height: 36px;

  color: rgba(0, 0, 0, 1);
  flex-shrink: 0;
  background: rgba(61, 220, 132, 1);
  border-radius: 3px;
  border: none;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.nav__movies_container {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.nav__auth_container {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.link__movies {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  text-align: right;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.462%;
}

.link__movies:hover {
  cursor: pointer;
  opacity: 0.7;
}

.link__savedMovies {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  text-align: right;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.462%;
}

.link__savedMovies:hover {
  cursor: pointer;
  opacity: 0.7;
}

.link_active{
  font-weight: 500;
}

.link__profile {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 92.308%;
}

.link__profile:hover {
  cursor: pointer;
  opacity: 0.7;
}

.logo:hover {
  cursor: pointer;
  opacity: 0.8;
}

.burger {
  display: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  max-width: 44px
}

.burger:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 3.90625vw;
  }


  .nav__movies_container {
    display: none;
  }

  .link__profile{
    display: none;
  }

  .burger {
    display: flex;
  }
}

@media screen and (max-width: 320px) {
  .container {
    padding: 0 4.375vw;
    column-gap: 14px;
  }

  .fonts {
    font-size: 12px;
    line-height: 160%;
  }

  .burger {
    max-width: 22px;
  }
}