.promo {
  padding: 75px 5.46875vw;
  background-color: rgba(7, 48, 66, 1);
  color: white;
  flex-direction: row;
  justify-content: space-between;

}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 146px;
}

.header {
  margin: 0;
  padding: 0;
  display: flex;
  row-gap: 36px;
  flex-direction: column;
}

.title {
  margin: 0;
  padding: 0;
  max-width: 640px;

  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
}

.text {
  margin: 0;
  padding: 0;
  max-width: 310px;

  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

.button {
  margin: 0;
  padding: 7px 17px;
  max-width: 129px;
  max-height: 36px;

  color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.333%;

  flex-shrink: 0;
  background: none;
  border-radius: 3px;
  border: 1px solid #FFF;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.logo {
  margin: 0;
  padding: 0;
  max-width: 310px;
  max-height: 304px;
}

@media screen and (max-width: 768px) {
  .promo {
    align-items: center;
    flex-direction: column-reverse;
    row-gap: 48px;
  }

  .container {
    align-items: center;
    row-gap: 92px;
  }

  .header {
    align-items: center;
    row-gap: 22px;
  }

  .title {
    max-width: 680px;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    /* 125% */
  }

  .text {
    text-align: center;
    max-width: 260px;
  }
}

@media screen and (max-width: 360px) {
  .promo {
    padding: 70px 0 30px;
  }

  .logo {
    max-width: 210px;
    max-height: 206px;
  }

  .title {
    max-width: 300px;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    /* 126.667% */
    letter-spacing: -1.2px;
  }
}