.container {
  margin: 0;
  padding: 0;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 26px;
}

.title {
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
}

.text {
  max-width: 460px;
  text-align: center;
  letter-spacing: -0.56px;
}

.blocks {
  margin: 0;
  padding: 100px 0 0;
  display: flex;
  justify-self: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
}

@media screen and (max-width: 768px) {

  .blocks {
    flex-wrap: wrap;
  }

  .text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 410px) {
  .blocks {
    border: none;
    max-width: 190px;
  }

  .title {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .text {
    max-width: 292px;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    letter-spacing: -0.44px;
  }

}