.aboutMe {
  background-color: rgba(32, 32, 32, 1);
  padding: 110px 5.46875vw 50.5px;
}

.aboutStudent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 66px 0 0;
}

.studentInfo {
  display: flex;
  flex-direction: column;
  max-width: 46.875vw;
}

.studentInfo__name {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  letter-spacing: -2px;
}

.studentInfo__profession {
  margin: 0;
  padding: 18px 0 0;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 111.111%;
}

.studentInfo__about {
  margin: 0;
  padding: 26px 0 0;
  line-height: 157.143%;
}

.aboutMe__link {
  margin: 0;
  padding: 99px 0 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.aboutMe__link:hover {
  cursor: pointer;
  opacity: 0.7;
}

.profile_image {
  min-width: 270px;
  min-height: 327px;
  border-radius: 10px;
}



@media screen and (max-width: 768px) {
  .aboutStudent {
    column-gap: 6.38020vw;
    /*  49px */
    padding: 66px 0 0;
  }

  .aboutMe {
    padding: 90px 50px 45px;
  }

  .studentInfo {
    max-width: 348px;
  }

  .profile_image {
    min-width: 255px;
    min-height: 307px;
  }

  .aboutMe__link {
    padding: 87px 0 0;
  }

  .studentInfo__name {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 100% */
    letter-spacing: -1.6px;
  }

  .studentInfo__profession {
    margin: 0;
    padding: 16px 0 0;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    /* 150% */
  }

  .studentInfo__about {
    margin: 0;
    padding: 20px 0 0;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 150% */
  }
}

@media screen and (max-width: 600px) {
  .aboutStudent {
    column-gap: 6.38020vw;
    padding: 60px 0 0;
    /*  49px */
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 40px;
  }
}


@media screen and (max-width: 320px) {
  .aboutMe {
    /* background-color: rgba(32, 32, 32, 1); */
    padding: 70px 14px 35px;
  }

  .studentInfo {
    max-width: 292px;
  }

  .profile_image {
    min-width: 292px;
    min-height: 352px;
  }

  .aboutMe__link {
    padding: 40px 0 0;
  }

  .studentInfo__name {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .studentInfo__profession {
    margin: 0;
    padding: 20px 0 0;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 145.455% */
  }

  .studentInfo__about {
    margin: 0;
    padding: 20px 0 0;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 145.455% */
  }

}